[Unit]
Description=Kronos Start Script

[Service]
Type=oneshot
ExecStart=/usr/local/bin/app/kronos.sh
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target